<div class="row workspace">
  <div class="col-lg-12">
    <h4>Журнал обращений к сервису</h4>
	<div class="form-horizontal">	
		<div class="form-group">  
			<label class="col-sm-2 control-label" for="providerTitlePattern">Наименование:</label>
			<div class="col-sm-5">
			<input class="form-control" name="providerTitlePattern" type="text" placeholder="Наименование информационной системы" ng-model="it.providerTitlePattern"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="status">Статус:</label>
			<div class="col-sm-3">
			<select class="form-control" name="status" ng-model="it.status">
			  <option value="ALL" selected>Все</option>
			  <option value="SUCCESS">Успешные</option>
			  <option value="FAILURE">С ошибкой</option>
			</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label" for="since">С:</label>
			<div class="col-sm-3">
				<input class="form-control" name="since" type="date" ng-model="it.since"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="until">До:</label>
			<div class="col-sm-3">
				<input class="form-control" name="until" type="date" ng-model="it.until"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			<input class="btn btn-default" type="button" value="Применить фильтр" ng-click="it.applyFilter()"></input>
			<input class="btn btn-default" type="button" value="Сбросить фильтр" ng-click="it.resetFilter()"></input>
			</div>
		</div>
	</div>

    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Описание</th>
        <th>Дата загрузки</th>
      </tr>
      <tr ng-repeat="patch in it.patches">
        <td>{{patch.id}}</td>
        <td><a ng-click="it.toDetailed(patch.id)">{{patch.comment}}</a></td>
        <td>{{patch.createdAt | date:'dd.MM.yyyy'}}</td>
      </tr>
    </table>

    <input class="btn btn-default" type="button" ng-click="it.toPreviousPage()" value="Предыдущая"/>
    <span>{{it.page}} / {{it.totalPages}}</span>
    <input class="btn btn-default" type="button" ng-click="it.toNextPage()" value="Следующая"/>
  </div>
</div>
