<div class="row workspace">
  <div class="col-lg-12">

    <h4>Детальный просмотр загрузки</h4>

	<div class="form-horizontal">	
		<div class="form-group">  
			<label class="col-sm-2 control-label" for="ident">ID:</label>
			<div class="col-sm-5">
				<input class="form-control"  name="ident" type="text" ng-model="it.patch.id" ng-disabled="true"/>
			</div>
		</div>
	
		<div class="form-group">  
			<label class="col-sm-2 control-label" for="provider">Информационная система:</label>
			<div class="col-sm-5">
				<input class="form-control" name="provider" type="text" ng-model="it.provider.title" ng-disabled="true"/>
			</div>
		</div>

		<div class="form-group"> 
			<label class="col-sm-2 control-label" for="when">Дата загрузки:</label>
			<div class="col-sm-5">
				<input class="form-control" name="when"  value="{{it.patch.createdAtParsed | date:'dd.MM.yyyy HH:mm'}}"  ng-disabled="true"/>
			</div>
		</div>

		<div class="form-group"> 
			<label class="col-sm-2 control-label" for="comment">Комментарий:</label>
			<div class="col-sm-5">
				<input class="form-control" name="comment" type="text" ng-model="it.patch.comment" ng-disabled="true"/>
			</div>
		</div>

		<div class="form-group"> 
			<label class="col-sm-2 control-label" for="status">Статус:</label>
			<div class="col-sm-5">
			<select class="form-control" name="status" ng-model="it.patch.status" ng-disabled="true">
			  <option value="ALL" selected>Все</option>
			  <option value="SUCCESS">Успешная</option>
			  <option value="FAILURE">С ошибкой</option>
			</select>
			</div>
		</div>
	</div>

    <h5>Статистика по загруженным значениям</h5>

    <table class="table table-hover">
      <tr>
        <th>Код индикатора</th>
        <th>Загруженных значений</th>
      </tr>
      <tr ng-repeat="info in it.patch.indicatorInfos">
        <td>{{info.indicatorCode}}</td>
        <td>{{info.totalPoints}}</td>
      </tr>
    </table>
  </div>
</div>
