<div>
  <h4>Menu</h4>
  <div>
    <input type="button" value="Загрузки" ng-click="it.showPatches()"></input>
    <input type="button" value="Организации" ng-click="it.showProviders()"></input>
    <input type="button" value="Показатели" ng-click="it.showIndicators()"></input>
    <input type="button" value="Оси" ng-click="it.showAxes()"></input>
  </div>
  <div style="float:right">
    <span>{{it.user.fullname}}</span>
    <input type="button" value="Выход" ng-click="it.logout()"></input>
  </div>
</div>
