
<form class="form-signin">

  <h2 class="form-signin-heading">Вход в систему</h2>

  <label for="inputLogin" class="sr-only">Имя пользователя</label>
  <input type="text" id="inputLogin" class="form-control" placeholder="Например: ivanpetrov" ng-model="it.login" required autofocus>

  <label for="inputSecret" class="sr-only">Пароль</label>
  <input type="password" id="inputSecret" class="form-control" placeholder="Password" ng-model="it.secret" required>

  <button class="btn btn-lg btn-primary btn-block" ng-click="it.logon()">Войти</button>
</form>
