
<div class="row workspace">
  <div class="col-lg-12">
    <h4>Территория</h4>

    <label for="code">Код:</label>
    <input name="code" type="text" ng-model="it.territory.code" ng-disabled="!it.admin"/><br/>

    <label for="title">Название:</label>
    <input name="title" type="text" ng-model="it.territory.title" ng-disabled="!it.admin"/><br/>

    <label for="description">Описание:</label>
    <input name="description" type="text" ng-model="it.territory.description" ng-disabled="!it.admin"/><br/>

    <input type="button" ng-click="it.save()" value="Сохранить" ng-hide="!it.admin"/>
  </div>
</div>
