<div class="row workspace">
  <div class="col-lg-12">
    <h4>Добавление новой внешней системы</h4>

    <label for="title">Название:</label>
    <input name="title" type="text" ng-model="it.provider.title"/><br/>

    <label for="description">Описание:</label>
    <input name="description" type="text" ng-model="it.provider.description"/><br/>
	
	<ul>
	    <ng-repeat ng-repeat="indicator in it.allIndicators">
			<li>{{indicator.title}}</li>
		</ng-repeat>
	</ul>

    <input type="button" ng-click="it.save()" value="Сохранить"/>
    <input type="button" ng-click="it.cancel()" value="Отмена"/>
  </div>
</div>
