<div class="row workspace">
  <div class="col-lg-12">
    <h4>Внешние системы</h4>
    <input class="btn btn-default" type="button" ng-click="it.add()" value="Добавить информационную систему" ng-hide="!it.admin"/>
    <table class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Дата регистрации</th>
      </tr>
      <tr ng-repeat="provider in it.providers">
        <td>{{provider.id}}</td>
        <td><a ng-click="it.toDetailed(provider.id)">{{provider.title}}</a></td>
        <td>{{provider.registeredAt}}</td>
      </tr>
    </table>

    <input class="btn btn-default" type="button" ng-click="it.toPreviousPage()" value="Предыдущая"/>
    <span>{{it.page}} / {{it.totalPages}}</span>
    <input class="btn btn-default" type="button" ng-click="it.toNextPage()" value="Следующая"/>
  </div>
</div>
