<!doctype html>

<html>
    <head>
        <base href="{{baseUrl}}"></base>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="static/images/application-icon.png">
        <link rel="stylesheet" type="text/css" href="static/application.css">
    </head>
    <body>
        <div id="cssUnavailableMessage">CSS are not available!</div>
        <script src="static/application.js"></script>
    </body>
</html>
