<!doctype html>

<html>
    <head>
        <base href="{{baseUrl}}"></base>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/application.css">
    </head>
    <body>
        <div id="applicationLoadMessage">Application is loading...</div>
        <script src="static/application.js"></script>
    </body>
</html>
